@import url('https://fonts.googleapis.com/css2?family=Poppins&Display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: calc(100vh - 75px);
    margin-top: 75px;
    display: fixed;
}

section {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
}

h1 {
    font-size: 100px;
    font-weight: 600;
    color: #d5c5c5;
    text-shadow: 1px 1px 4px #000;
}

h2 {
    margin-inline-start: 10%;
    padding-top: 7%;
    /*padding-bottom: 10%;*/
    font-size: 30px;
    margin-bottom: 2%;

}

.start-page {
    background:  rgb(255, 255, 255);
}

.about-page {
    background:  #6e7cab;
}

.cestumers-page {
    background:  rgb(220, 220, 220);
}

.contact-page {
    background:  rgb(220, 220, 220);
}

.tec-page {
    background:  #6e7cab;
}


/* Style the scrollbar for larger screens */
@media only screen and (min-width: 701px) {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #1e1e1e;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
