
.contact-page {
    display: flex;
    flex-direction: column; /* Make children stack vertically */
    justify-content: center; /* Center horizontally */
    align-content: flex;
}

.Page-4-container {
    flex-grow: 1; /* Take up remaining vertical space */
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.contact-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    /* Use flexbox */

    justify-content: center;
    /* Center items horizontally */
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
}

.contact-list li {
    display: block;
    margin-bottom: 10px;
    width: 150px;
}

.contact-button {
    margin: 5px;
    display: block;
    padding: 10px 20px;
    background-color: #dfe8f2;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #c7dcf3;
}

.contact-icon {
    width: 40px;
    height: 40px;
}

.page-4-p{    
    margin-inline-start: 11%;
    font-size: 20px;
}

@media only screen and (max-height: 700px) {
    .page-4-p{
        font-size: 12px;
    }

    .contact-icon {
        width: 30px;
        height: 30px;
    }

    .contact-list li {
        width: 120px;
    }
    .contact-button {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}