
.Page-4-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.contact-list li {
    display: block;
    margin-bottom: 10px;
}

.contact-button {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-bottom: 10px; /* Add margin between buttons */
}

.contact-button:hover {
    background-color: #0056b3;
}

.contact-icon {
    width: 24px;
    height: auto;
}

