@import url('https://fonts.googleapis.com/css2?family=Poppins&Display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*
.start_page {
    
   
    justify-content: flex-start;
    align-items: center;
}
*/

.page_2_p {
    /*margin-top: 10%;*/
    margin-inline-start: 2%;
    font-size: 18px;
}

.page_2_ul {
    margin-inline-start: 15%;
    font-size: 35px;
}
