@import url('https://fonts.googleapis.com/css2?family=Poppins&Display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*
.page_1_h2{
    margin-bottom: 2%;
}
*/


.start-page {
    display: flex;
    flex-direction: column; /* Make children stack vertically */
    justify-content: center; /* Center horizontally */
    align-content: flex;
}

.Page-1-container{
    flex-grow: 1; /* Take up remaining vertical space */
    display: flex;
    flex-direction: column; /* Make children stack vertically */
    justify-content: center;
    align-items: flex-start;
}

.page_1_p {
    /*margin-top: 10%;*/
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    font-size: 18px;
    padding-right:10px ;
    padding-bottom: 10px;
}

.bold {
    font-weight : bold;
}


/* Media query for smartphones */
@media only screen and (max-width: 600px) {

    .page_1_p {
        font-size: 14px;
    }
}

@media only screen and (max-height: 700px) {
    .page_1_p {
       
        font-size: 10px;
       
    }
}