
.cestumer-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center items horizontally */
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
}

.Page-3-container {
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Take up remaining vertical space */
    display: flex;
}

.cestumer-list li {
    display: block;
    margin-bottom: 10px;
    width: 150px;
}

.cestumer-button {
    margin: 5px;
    display: block;
    padding: 10px 0px;
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cestumer-button:hover {
    background-color: #c7dcf3;
}

.cestumer-icon {
    width: fit;
    max-width: 130px;
    height: 60px;
    
}


.cestumers-page{  
    display: flex;
    flex-direction: column; /* Make children stack vertically */
    justify-content: center; /* Center horizontally */
    align-content: flex;
}