
.tec-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    /* Center items horizontally */
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
}

.tec-page{  
    display: flex;
    flex-direction: column; /* Make children stack vertically */
    justify-content: center; /* Center horizontally */
    align-content: flex;
}

.Page-5-container {
    justify-content: center;
    align-items: center;    
   
    flex-grow: 1; /* Take up remaining vertical space */
    display: flex;
}

.tec-list li {
    display: flex;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;

    justify-content: center;
    align-items: center;    
}


.page-5-img {
    width: 80px;
    height: 80px;
}



.page-5-icon {
    margin: 5px;
    display: block;
    padding: 10px 20px;
    background-color: #dfe8f2;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}


/* Media query for smartphones */
@media only screen and (max-width: 670px) {
    .Page_5_container {
        max-width: 90%; /* Adjust the width for smaller screens */
    }

    .tec-list li {
        
        width: 100px;
        height: 100px;

    }
    .page-5-img {
        width: 60px; /* Adjust the icon size for smaller screens */
        height: 60px;
    }

    .page-5-icon {
        width: 80px;
        height: 80px;
        margin: 0px;

    }
}


@media only screen and (max-height: 700px) {
    .tec-list li {
        width: 80px;
        height: 80px;
    }
    .page-5-img {
        width: 35px; /* Adjust the icon size for smaller screens */
        height: 35px;
    }

    .page-5-icon {
        width: 50px;
        height: 50px;
        margin: 0px;
        
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}



@media only screen and (max-height: 700px) {
     

    .tec-list li {
        width: 80px;
    }
  

    .page-5-icon {
        width: 50px;
        height: 60px;
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .page-5-img {
        width: 35px; /* Adjust the icon size for smaller screens */
        height: 35px;
        top: 2px;
        position: relative;
    }
    
    .page-5-p{
        position: relative;
        font-size: 10px;
        bottom: 1px;
        margin: 0;
    }
}